.Header {
    padding: 0;
    background: linear-gradient(119deg,  rgba(49, 48, 53, 1) -2.11%, rgba(6, 74, 94, 1) 63.58%);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    padding: 25px 0;

    &-navigation {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 130px;

        .logo {
            fill: #fff;
            width: 100%;
            height: 50px;
        }
    }

    &-link {
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 30px 40px;
        transition: all ease 0.4s;

        &:hover {
            opacity: 0.7;
        }
    }

    .btn-primary {
        font-size: 16px;
        font-weight: 500;
        margin-left: 40px;
        z-index: 2;
    }

    &-heroSection {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-left {
            width: 40%;
        }

        &-right {
            width: 100%;
        }

        &-title2 {
            font-size: 52px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            color: #FFF;
        }

        &-text {
            width: 70%;
            margin: 30px 0;
            color: #FFF;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.7;
            position: relative;
        }

        .btn-primary, .btn-secondary {
            font-size: 18px;
            font-weight: 700;
            position: relative;
            z-index: 2;
        }
    }

    .placesSection {
        position: relative;
        top: 120px;
        padding: 50px;
        border-radius: 20px;
        background: #242565;
        box-shadow: 0px 10px 50px 0px rgba(61, 55, 241, 0.25);
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-input {
            label {
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 25px;
                display: block;
            }
            
            input, select {
                border-bottom: 1px solid #7778B0;
                color: #FFF !important;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                padding-bottom: 10px;
                background-color: transparent;
            }

            option {
                color: #000;
            }
        }
    }
}

@media  only screen and (min-width: 900px) and (max-width: 1024px) {
    .Header {
        margin-bottom: 150px;
    }
}